body{
    font-family: sans-serif;
    padding:0;
    margin: 0;
    background-color: white;
    text-decoration: none;
    box-sizing: border-box;
}

.resume {
  width: 80%;
  max-width: 900px;
  background: #fff;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.head{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content:space-between;
}

.header{
    padding-top: 10px;
    justify-content: start;
    width: 500px;
    margin-left: 8%;
}

.header h1 {
  margin: 0;
  font-size: 28px;
  color: #1a5276;
  padding-top: 40px;
}

.header p {
  margin: 5px 0;
  font-size: 14px;
}

.header a {
  color: #1a5276;
  text-decoration: none;
  font-weight: 600;
}

.header a:hover {
  text-decoration: underline;
}

.main{
    justify-content: end;
    width: 500px;
    margin-right: 0;
     padding-top: 40px;
}

.main img{
    height: 25vh;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    align-items: end;
    justify-content: end;
    margin-bottom: auto;
    margin-top: auto;
   
    
}


h2 {
  margin-top: 25px;
  font-size: 25px;
  border-left: 4px solid #1a5276;
  padding-left: 10px;
  color: #1a5276;
}

p {
  font-size: 14px;
  line-height: 22px;
}

ul {
  margin-top: 10px;
}

ul li {
  margin-bottom: 6px;
  font-size: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th {
  background: #1a5276;
  color: #fff;
  padding: 8px;
  text-align: left;
}

table td {
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.Skills ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.Skills li {
  list-style: none;
  background: #eaf2f8;
  padding: 8px 14px;
  border-radius: 20px;
  font-weight: 600;
  color: #1a5276;
}

.Languages li {
  font-size: 15px;
}

.card {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card img {
  width: 330px;
  height: auto;
  border-radius: 10px;
  border: 3px solid #ccc;
}



@media (max-width: 700px) {
  .head {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;
  }

  .header{
    flex-wrap: wrap;
    font-size: 18px;
  }

  .main img {
    margin-top: 15px;
  }

  .resume {
    width: 92%;
    padding: 20px;
  }
  .card img {
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .head {
    flex-direction:row;
    flex-wrap: wrap;
    text-align: center;
    font-size: 20px;
  }

  .header{
    flex-wrap: wrap;
    font-size: 18px;
  }

  .main img {
    margin-top: 10px;
    width: 110px;
    height: 110px;
  }

  .resume {
    width: 95%;
    padding: 20px;
  }

  table th, table td {
    font-size: 13px;
    padding: 6px;
  }
  .card img {
    width: 100%;
    max-width: 350px;
  }
}


@media (max-width: 1024px) {
  .head {
    flex-direction:row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 20px;
  }

  .header{
    flex-wrap: wrap;
    font-size: 18px;
  }

  h2{
    font-size: 25px;
  }

  p{
    font-size: 20px;
  }

  .main img {
    margin-top: 10px;
    width: 110px;
    height: 110px;
    object-fit: cover;
  }

  .resume {
    width: 95%;
    padding: 20px;
  }

  table th, table td {
    font-size: 13px;
    padding: 6px;
  }
 .card img {
    width: 100%;
    max-width: 350px;
  }
}
