*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  background:#f4f5f7;
}

.main{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap:20px;
}
.product-card{
  background:#fff;
  width:280px;
  padding:15px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 6px 20px rgba(0,0,0,0.1);
  transition:0.4s;
}



.product-card img{
  width:100%;
  height:55vh;
  object-fit:cover;
  border-radius:10px;
}

.rating{
    border: none;
}

.product-card h2{
  font-size:18px;
  margin:10px 0;
  color:#333;
}


.product-card p{
  font-size:14px;
  color:#555;
}


.price{
  font-size:20px;
  margin:10px 0;
  font-weight:bold;
  color:orange;
}

.product-card button{
  background:#007bff;
  color:#fff;
  border:none;
  padding:10px 18px;
  font-size:15px;
  border-radius:6px;
  cursor:pointer;
  transition:0.3s;
}

.product-card button:hover{
  background:yellow;
}


@media (max-width:600px){
  .product-card{
    width:90%;
  }

 .product-card img{
  width:100%;
  height:60vh;
  }

  .main{
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:800px){
  .product-card{
    width:90%;
  }

  .main{
    display: flex;
    flex-direction: column;
  }
}


@media (max-width:1024px){
  .product-card{
    width:90%;
  }

  .main{
    display: flex;
    flex-direction: column;
  }
}


